[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
yapf = "*"
flask-pymongo = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
bcrypt = "*"
flask-wtf = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
